<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/icons/icon-github.svg') }}"
      sizes="any"
      type="image/svg+xml"
    />
    <title>Github Profile Finder</title>
    <link href="{{ url_for('static', filename='css/style.scss.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{{url_for('index')}}">
          <img
            src="{{ url_for('static', filename='assets/icons/icon-github.svg') }}"
            alt="icon-github"
            height="32px"
            width="32px"
          />
        </a>
        <span>Profile Finder</span>
      </div>
    </header>

    <section class="search-profile">
      <div class="titles">
        <h1>Welcome to Github Profile Finder</h1>
        <h3>Please input the username you want to search and then click "Find User"</h3>
      </div>
      <div class="search">
        <form name="searchForm" method=POST action="/">
          <div class="input-group">
            {{ form.username(class="input", autocomplete="off", placeholder="Username")}}
            {% for error in form.errors.username %}
              <span class="validators">{{ error }}</span>
            {% endfor %}
          </div>
          <input type=submit value="Find User" class="input-btn">
        </form>
      </div>

      {% block userProfile %} 
      {% endblock %} 
      {% block error404 %} 
      {% endblock %}
    </section>

    <footer>
      <span
        >Made by&nbsp<a href="https://github.com/SebasEC96" target="_blank"
          >SebasEC</a
        >&nbsp-&nbspJanuary 2021</span
      >
    </footer>
  </body>
</html>
